body {
    background: rgb(136, 170, 233);
    color: #333333;
    margin-top: 5rem;
    margin:25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    clear: both;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
    text-align: justify
}

#imagesize {
    height: auto;
    max-width: 100%;
    display:block;
}

div.polaroid {
    width: 50%;
    height: 400px;
    float: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

div.kontener {
    float:  left;
}

div.container2 {
    float: left;
    text-align: left;
    padding: 50px 20px;
  }

.text {
    text-align: left;
}

div.pozycja {
    padding: 5%;
}

div.polaroid3 {
    width: 50%;
    height: 450px;
    float: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .dropbtn {
    background-color: #5f788a;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #5f788a;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5f788a;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #31709c;}
  
  .show {display: block;}

  /* Artykuł */

  .main-content {
    background-color: rgb(136, 170, 233);
  }

  .clearfix::after {
      content: '';
      display: block;
      clear: both;
  }

  .contentArticle {
      width: 90%;
      margin: 30px auto 30px;;
  }

  .contentArticle .main-content {
      width: 70%;
      float: left;;
  }

  .contentArticle .sidebar {
      width: 30%;
      float: left;;
      height: 300px;
  }

  .recent-post-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .recent-post-title .main-content{
      margin: 20%;
  }

  .content .main-content .post {
      width: 95%;
      height: 270px;
      margin:  20px auto;
      border-radius: 5px;
      background-color: white;
      position: relative;
  }

  .post-image {
      width: 40%;
      height: 100%;
      float: left;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;

  }

  .post-preview-detail {
    margin-left: 50%;
  }

  .content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
  }

  .my_text{
    font-family:    Arial, Helvetica, sans-serif;
    font-size:      15px;
  }

/* Edyzja artykuł */

edit {
    font-size: large;
    text-align: center;
}

.editArticle {
    font-size: large;
    text-align: center;
}

.article_edit_BTN {
    position:absolute; left: 50%;; 
}