{%extends 'wypozyczalnia/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
            <form method="GET" action="." >
                <label for="data1">Data odbioru</label>
                <input type="date" name="data_odbioru" id="data_odbioru_html" name="data_odbioru_html" value="{{data_odbioru_html_date}}">
                <label for="data2">Data zwrotu</label>
                <input type="date" name="data_zwrotu" id="data_zwrotu_html" name="data_zwrotu_html" value="{{data_zwrotu_html_date}}">
                <button type="submit" name="filtruj" class="btn btn-primary">Filtruj</button>
            </form>
        <button class="btn btn-primary"><a style="color: white;" href="{% url 'rezerwacja_widok' %}">Wyczyść</a></button>
        {% for rezerwacja in rezerwacje %}
        <div class="col-xs-6 col-md-10">       
            <figure>
                <div class="polaroid">
                    <div class="text">        
                        <div class="desc">
                            <p class = "text-justify"> Osoba wypozyczajaca: {{ rezerwacja.osoba_wypozyczajaca }} </p>
                            <br>
                            <hr>
                            <p class = "text-justify"> Wypożyczone auto: {{ rezerwacja.auto_wypozyczane }} </p>
                            <br>
                            <p class = "text-justify"> Data odbioru: {{ rezerwacja.data_odbioru }} </p>
                            <br>
                            <p class = "text-justify"> Miejsce odbioru: {{ rezerwacja.miejsce_odbioru }} </p>
                            <br>
                            <p class = "text-justify"> Data zwrotu: {{ rezerwacja.data_zwrotu }} </p>
                            <br>
                            <p class = "text-justify"> Miejsce zwrotu: {{ rezerwacja.miejsce_zwrotu }} </p>
                            <br>
                            <p class = "text-justify"> Godzina zwrotu: {{ rezerwacja.godzina_zwrotu }} </p> 
                        </div>
                    </div>
                </div>    
            </figure>        
        </div>  
        {% endfor %} 
    </div>
</div>


{%endblock content%}