{%extends 'wypozyczalnia/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-10">
            <figure>
				<div class="content-section">
					<form method="POST">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Edytuj profil</legend>
							{{ edit_form|crispy }}
						</fieldset>
                        <h6> Nie przechowujemy surowych haseł, więc nie da się zobaczyć hasła tego użytkownika.
                            Możesz jednak zmienić to hasło używając <a href="{% url 'password_reset' %}">tego</a> formularza.
                        </h6>
                        <h6> Wersja nr 2 - Nie przechowujemy surowych haseł, więc nie da się zobaczyć hasła tego użytkownika.
                            Możesz jednak zmienić to hasło używając <a href="/password">tego</a> formularza.
                        </h6>
						<div class="form-group">	
							<button class="btn btn-default" type="submit">Zaktualizuj</button>
						</div>
					</form>
				</div>
            </figure>        
        </div>   
    </div>
</div>
{% endblock %}