{%extends 'wypozyczalnia/base.html'%}
{% block content %}
<div class="content-section">
    <p>
        <div class="desc">
            <a href ="{% url 'article_detail' pk=article.pk %}"><img src = "{{ article.zdjecie.url }}" class="post-image" width="40%" height="100%">
            <div class="post-preview">
                <div>
                    <i class="my_text">
                        Data publikacji: {{ article.published_date}}
                    </i>
                </div>
                <div>
                    <i class="my_text">
                        Autor: {{ article.author}}
                    </i>
                </div>                            
                &nbsp;
                <div>
                    <p class="article-text">
                        <i class="my_text">
                            {{ article.text}}
                        </i>
                    </p>
                </div>                      
            </div>
        </div>
    </p>
    <div>
            {%if request.user.is_staff %}
            <button  class="btn btn-submit"><a href ="{% url 'article_edit' pk=article.pk%}">Edytuj</a></button>
            <button  class="btn btn-danger"><a href ="{% url 'article_delete' pk=article.pk%}">Usuń</a></button>
            {% endif %}

    </div>
</div>
{%endblock content%}
