{%extends 'wypozyczalnia/base.html'%}
{% block content %}
{% for article in articles %}
<div class="contentArticle clearfix">
    <div class="main-content">
        <h1 class="recent-post-title">{{ article.title }}</h1>

        <div class="post">
            <img src = "{{ article.zdjecie.url }}" class="post-image" width="40%" height="100%"> 
            <div class="post-preview">
                <div>
                    <i class="my_text">
                        Data publikacji: {{ article.published_date}}
                    </i>
                </div>
                <div>
                    <i class="my_text">
                        Autor: {{ article.author}}
                    </i>
                </div>                            
                &nbsp;
                <div>
                    <p class="article-text">
                        <i class="my_text">
                            {{ article.text}}
                        </i>
                    </p>
                </div>                      
            </div>
        </div>
    </div>
    <hr>
</div>
{% endfor %}
{%endblock content%}
