{% load static %}
<!DOCTYPE html>
<html>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{{ form.media }}


<head>
    <title>
        Wypożyczalnia aut
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'wypozyczalnia/main.css' %}">
</head>
<body>
  <div class="container">
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
        <a class="navbar-brand mr-4" href="{% url 'wypozyczalnia-home' %}">Wypozyczalnia aut</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmen" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainmenu">
                    <ul class="navbar-nav mr-auto">

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Samochody </a>

                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'wypozyczalnia-home' %}">Oferty</a> {%if request.user.is_staff %}
                          <a class="dropdown-item" href="{% url 'newCar' %}">Dodaj auto</a>
                          <a class="dropdown-item" href="{% url 'addSegment' %}">Dodaj segment</a> {% endif %}   
                        </div>
                      </li>{%if request.user.is_manager %}

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Pracownicy </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'registerEmployee' %}">Stwórz pracownika</a>  
                        </div>
                      </li>{% endif %}

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Artykuły </a>
                        <div class="dropdown-menu">{%if request.user.is_staff %}
                          <a class="dropdown-item" href="{% url 'addArticle' %}">Dodaj artykuł</a>{% endif %} 
                          <a class="dropdown-item" href="{% url 'artykuly_widok' %}">Artykuły</a>
                        </div>
                      </li>
                      {%if request.user.is_staff %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Rezerwacje </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'rezerwacja_widok' %}">Spis rezerwacji</a> 
                        </div>
                      </li>
                      {% endif %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Konto </a>
                        <div class="dropdown-menu">
                          {% if user.is_authenticated %}
                          <a class="dropdown-item" href="{% url 'edit_account_redirect' %}">Edytuj profil</a> 
                          <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj się</a>{% else %}
                          <a class="dropdown-item" href="{% url 'login' %}">Zaloguj się</a>  
                          <a class="dropdown-item" href="{% url 'register' %}">Zarejestruj się</a>{% endif %}  
                        </div>
                      </li>
                    </ul>
                </div>
      </nav>
    </header>
     <div class="pozycja">
        {% block content %}{% endblock %}
      </div> 
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
</html>
