{%extends 'wypozyczalnia/base.html'%}
{% block content %}
<div class="content-section">
    <p>
        <div class="desc">
            <a href ="{% url 'car_detail' pk=car.pk %}"><img src = "{{ car.zdjecie.url }}" class="img-fluid" alt="Responsive image" width="600" height="800"></a>
            <h2>{{ car.nazwa }}</h2>
            <h3><b>{{ car.model}}</b></h3>
            <h4><b>Segment: {{ car.segment}}</b></h4>
            <div class="text">
                <p class = "text-justify"> Silnik: {{ car.silnik.name }} </p>
                <p class = "text-justify"> Moc: {{ car.silnik.power }} </p>
                <p class = "text-justify"> Spalanie:: {{ car.silnik.consumation }} </p>
                <p class = "text-justify"> Typ paliwa: {{ car.silnik.fuel_type }} </p>
                <p class = "text-justify"> Rok produkcji: {{ car.rok_produkcji }} </p>
                <p class = "text-justify"> Cena za godzinę: {{ car.cena_za_godzine }} </p>
                <p class = "text-justify"> Dostępność pojazdu: {{ car.getDostepnosc }} </p>
                <p class = "text-justify"> Klimatyzacja: {{ car.getKlimatyzacja }}</p>
                <p class = "text-justify"> Ocena: {{ car.ocena }} </p>
                <p class = "text-justify"> Ilość drzwi: {{ car.ilosc_drzwi }} </p>
                <p class = "text-justify"> Wyposażenie dodatkowe: {{ car.get_opcjonalne_wyposazenie }} </p>
            </div>
        </div>
    </p>
    <div>
        {% if user.is_authenticated and car.dostepnosc %}
        <button  class="btn btn-submit"><a href ="{% url 'rezerwacja' pk=car.pk%}">Rezerwuj</a></button>
        {% endif %}
            {%if request.user.is_staff %}
            <button  class="btn btn-submit"><a href ="{% url 'car_edit' pk=car.pk%}">Edytuj</a></button>
            <button  class="btn btn-danger"><a href ="{% url 'car_delete' pk=car.pk%}">Usuń</a></button>
            {% endif %}

    </div>
</div>
{%endblock content%}
