{%extends 'wypozyczalnia/base.html'%}
{% block content %}


<div class="formRight">
    <h4 style = 'color: white'>Filtrowanie po segmencie</h4>
    <form method='GET' action=''>
            <select class="form-control" id="selected_segment" name='selected_segment' style="width:160px;">
                {% for segment in segment %}
                    <option value='{{segment.id}}'>{{ segment.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Filtruj</button>
            <button class="btn btn-primary"><a style="color: white;" href="{% url 'wypozyczalnia-home' %}">Wyczyść</a></button>
    </form>
</div>

{% for car in cars %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-10">
            <figure>
                <div class="polaroid">
                    <a href ="{% url 'car_detail' pk=car.pk %}"><img src = "{{ car.zdjecie.url }}" class="img-fluid" alt="Responsive image" width="803px" height="255px"></a>                           
                        <div class="text">
                            <h2>Nazwa: {{ car.nazwa }}</h2>
                            <h3><b>Model: {{ car.model}}</b></h3>
                            <h4><b>Segment: {{ car.segment}}</b></h4>
                            <hr>
                            <p class = "text-justify"> Silnik: {{ car.silnik.name }} </p>
                            <br>
                            <p class = "text-justify"> Rok produkcji: {{ car.rok_produkcji }} </p>
                            <p class = "text-justify"> Cena za godzinę: {{ car.cena_za_godzine }} </p>
                            <br>
                            <p class = "text-justify"> Dostępność pojazdu: {{ car.getDostepnosc }} </p>
                        </div>
                </div>          
            </figure>        
        </div>   
    </div>
</div>
{% endfor %}
{%endblock content%}
